clipboard==0.0.4
crewai==0.95.0
crewai-tools==0.1.6
grpcio-status==1.64.3
httptools==0.6.4
jaraco.collections==5.1.0
notebook==7.2.2
pip-chill==1.0.3
pulsar-client==3.5.0
pygithub==1.59.1
pysocks==1.7.1
streamlit==1.41.1
uvloop==0.21.0
watchfiles==1.0.3
youtube-transcript-api==0.6.3
yt-dlp==2023.12.30
